/* Calendar style */
table.calendar {
    background-color: rgb(73, 78, 83);
    border: none;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table.calendar > thead {
    background-color: rgb(122, 122, 128);
}

table.calendar > thead > tr {
    outline: thin solid;
    outline-color: gray;
}

table.calendar > thead > tr > th {
    padding: 10px 12px;
}

table.calendar > tbody > tr {
    outline: thin solid;
    outline-color: gray;
}

table.calendar > tbody > tr > td {
    border-left: thin solid gray;
}

table.calendar > tbody > tr > td:first-child {
    border-left: none;
}

table.calendar > tbody > tr > td > a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: start;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 80px;
    color: white;
    text-decoration: none;
    text-indent: 5px;
}

table.calendar > tbody > tr > td > a:hover {
    background-color: rgb(63, 64, 64);
}

/* Calendar and AppointmentList positioning */
.calendar-wrapper {
    overflow-x: auto;
}

.calendar-layout {
    display: flex;
    min-width: 1000px;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: flex-start;
}

.calendar-pane {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66.666%;
    min-width: 0;
}

.appointment-list-pane {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.333%;
    min-width: 0;
}