h1.dashboard-header {
    justify-self: center;
    margin-top: 3rem;
}

.appointment-table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.appointment-table-container {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    width: 95%;
}

@media (min-width: 900px) {
    .appointment-table-container {
        border-radius: 2px;
        background-color: white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
        width: 40%;
        min-width: 500px;
    }
}

.appointment-table-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2.appointment-table-header {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

table.appointment-table {
    width: 100%;
    min-width: 300px;
    table-layout: fixed;
    border-collapse: collapse;
}

table.appointment-table > thead > tr {
    background-color: rgb(0, 100, 252);
}

table.appointment-table > thead > tr > th {
    color: white;
    font-size: 18px;
    word-wrap: break-word;
}

table.appointment-table > tbody > tr {
    border-bottom: 1px solid black;
    width: 100%;
    word-wrap: break-word;
}

table.appointment-table > tbody > tr.details-row {
    border-bottom: none;
}

table.appointment-table > tbody > tr.details-row.show {
    border-bottom: 1px solid black;
}

table.appointment-table > tbody > tr.details-row > td {
    padding: 0px;
}

table.appointment-table > tbody > tr.details-row.show > td {
    padding-top: 1px;
    padding-bottom: 1px;
}

table.appointment-table > tbody > tr > td {
    text-align: center;
    border-right: 1px solid black;
}

table.appointment-table > tbody > tr > td:last-child {
    border-right: none;
}

.details-content {
    overflow: hidden;
    height: 0px;
    width: inherit;
    max-height: 0px;
    justify-content: left;
    transition: max-height 0.4s ease;
}

.details-content.show {
    height: auto;
    max-height: none;
}

.details-content.show > ul > li > p {
    text-indent: 0rem; 
}

.details-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    justify-self: center;
    flex-wrap: wrap;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-left: 1rem;
    margin-right: 1rem;
}

.details-row-header {
    text-indent: 0px;
    justify-self: center;
    border-bottom: 3px solid rgba(0, 100, 252, 0.4);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

p.details-item {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.participants-list {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding-left: 0px;
}

.participant-card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 8px 12px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

p.participant-info {
    margin: 0px;
}

button.toggle-button {
    border: none;
    background-color: transparent;
    color: rgb(26, 120, 255);
    font-size: 16px;
    text-decoration: underline;
}

.cancel-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.cancel-button {
    width: 40%;
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    background-color: rgb(248, 249, 250);
    margin-top: 5px;
    margin-bottom: 10px;
    transition: background-color 0.5s ease;
}

button.cancel-button:hover {
    background-color: rgb(26, 120, 255);
    color: white;
}

button.bubble-button {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 100, 252, 0.1);
    border-color: rgba(0, 100, 252, 0.1);
    border-width: 0px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    margin-left: 1rem;
    margin-right: 1rem;
}

button.bubble-button:disabled {
    background-color: white;
    border-radius: 0px;
}

button.bubble-button:hover:enabled {
    background-color: rgb(0, 100, 252);
    color: white;
}