nav.navbar-desktop {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  background-color: rgb(248, 249, 250);
}

nav.navbar-desktop > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.navbar-desktop > ul > li {
  display: inline-block;
}

nav.navbar-desktop > ul > li > a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

nav.navbar-desktop > ul > li > a.logo-link {
  font-weight: bold;
  color: white;
  background-color: rgb(0, 100, 252);
}

nav.navbar-desktop > ul > li > a:hover {
  background-color: rgb(26, 120, 255);
  color: white;
}

.navbar-mobile {
  overflow: hidden;
  background-color: rgb(248, 249, 250);
  position: relative;
}

.navbar-mobile #subLinks {
  display: none;
}

.navbar-mobile a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar-mobile a.logo-link {
  color: white;
  background-color: rgb(0, 100, 252);
}

.navbar-mobile a.icon {
  color: white;
  background: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  top: 0;
  transition: none;
}

.navbar-mobile a:hover {
  background-color: rgb(26, 120, 255);
  color: white;
}

.navbar-mobile a.icon:hover {
  background-color: rgb(153, 193, 255);
}

.navbar-mobile a.logo-link:hover {
  background-color: rgba(0, 100, 252, 0.7);
  color: white;
}