nav.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav.navbar > ul > li {
  float: left;
}

nav.navbar > ul > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.navbar > ul > li > a:hover {
  background-color: #111111;
}